.one, .two, .three {
    padding: 30px;
    text-align: center;
    color: white;
}
.one {
    background-color:cadetblue
}
/* .two {
    background-color: blueviolet;
}
.three {
    background-color: yellowgreen;
} */

.data {
    border: 2px solid rgba(201, 180, 180, 0.5);
    padding: 10px;
    margin: 5px;
}

code {
    color: rgba(255, 255, 255, 0.6);
}
